.blue {
    background-color: blue;
  }

  .lightgrey{
      background-color:#D1B15C;
  }
  .colorbkgrd {
    background-color: #007C5A;
    color: #ffffff;
  }
  .notvisible{
      display:none;
  }
  
 